{%- extends "basic/layout.html" %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock %}

{% set metatags = '<meta name="viewport" content="width=device-width, initial-scale=1.0">' %}
{% set favicon = 'sfl.ico' %}

{%- block header %}
    <div class="header" style="position: relative; left: 0; top: 0;">
        <img src="_static/header.jpg" alt="header" width="100%" style="position: relative; top: 0; left: 0;">
        <div style="position: absolute; top: 50%; left: 2.5%;">SUPERVISION</div>
        <img src="_static/sfl.png" height="35%" alt="Savoir-Faire Linux" style="position: absolute; top: 35%; left: 70%;">
    </div>
{%- endblock %}

{%- block content %}
    <div class="document">
        {%- block document %}
            <div class="body">
                {% block body %}{% endblock %}
            </div>
        {%- endblock %}
    </div>
{%- endblock %}

{%- block footer %}
    <div class="footer">
        <img src="_static/header.jpg" alt="header" width="100%" aligh: "top">
    </div>
{%- endblock %}
